<header>
	<div class="wrapper">
		<a class="logo" href="/">
			<img src="/assets/images/journal-logo.svg" alt="Логотип Журнал" width="150" height="36"/>
		</a>
		<nav>
			{% for item in site.data.navigation %}
			<a href="{{ item.link }}" {% if page.url == item.link %} class="current" {% endif %}>
				{{ item.name }}
			</a>
			{% endfor %}
		</nav>
		<div class="socials">
			{% for item in site.data.socials %}
				<a href="{{ item.link }}" title="{{ item.name }}">
					<img src="/assets/images/icon-{{ item.name }}.svg" alt="{{ item.name }}" width="30" height="30"/>
				</a>
			{% endfor %}
		</div>
	</div>
</header>
