---
---

/* defaults & variables -------------------------------- */

:root {
	--col: 250px;
}

*,
::before,
::after {
	box-sizing: border-box;
}

/* common ---------------------------------------------- */

html {
	font-family: sans-serif;
	font-size: 20px;

	body {
		font-size: 1rem;
		line-height: 1.5rem;

		background-color: #fff;
		color: #000;

		min-height: 100vh;
		margin: 0;

		main {
			padding: 0;
		}

		h1, h2, h3 {
			margin: 0;
		}

		img {
			display: block;
			width: 100%;
			height: auto;
		}

		.wrapper {
			width: 100%;
			max-width: 800px;
			margin: 0 auto;
		}
	}
}

/* header ---------------------------------------------- */

header {
	z-index: 999;
	background-color: #345;

	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;

	.logo {
		height: 50px;
	}

	nav {
		a {
			text-decoration: none;
			color: #fff;

			&.current {
				font-weight: bold;
			}
		}
	}
}

/* main ------------------------------------------------ */

main {
	#feed {
		display: grid;
		column-gap: 1rem;
		grid-template-columns: 0 50px 25px 25px 1fr 0;

		.year {
			display: grid;
			column-gap: 1rem;
			grid-template-columns: 50px 25px 25px 1fr;
			grid-column: 2 / span 4;

			&::before {
				content: attr(data-value);

				grid-column: 1;
				align-self: start;
				position: sticky;
				top: 50px;
				padding: 1.5rem 0;
			}

			.month {
				display: grid;
				column-gap: 1rem;
				grid-template-columns: 25px 25px 1fr;
				grid-column: 2 / span 3;

				&::before {
					content: attr(data-value);

					grid-column: 1;
					align-self: start;
					position: sticky;
					top: 50px;
					padding: 1.5rem 0;
				}

				.day {
					display: grid;
					column-gap: 1rem;
					grid-template-columns: 25px 1fr;
					grid-column: 2 / span 2;

					&::before {
						content: attr(data-value);

						grid-column: 1;
						align-self: start;
						position: sticky;
						top: 50px;
						padding: 1.5rem 0;
					}

					> div {
						grid-column: 2;
						padding: 1.5rem 0;
					}

					> div + div {
						border-top: 1px solid #ccc;
					}
				}

				> .day + .day {
					border-top: 1px solid #ccc;
				}
			}

			> .month + .month {
				border-top: 1px solid #ccc;
			}
		}

		> .year + .year {
			border-top: 1px solid #ccc;
		}
	}
}

/* footer ---------------------------------------------- */

footer {
	background-color: #345;

	position: sticky;
	top: 100%;
	left: 0;
	right: 0;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}
